%table.Tab_backdrop{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "100%", :width => "245"}
  %tbody
    %tr
      %td.Left_Place{:valign => "top"}
        %table.t_list{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "210"}
          %tbody
            %tr
              %td.t_list_caption{:colspan => "2"} 請覈對您的帳戶
            %tr
              %td.t_td_caption_1{:width => "96"}
                會員帳戶
              %td.t_td_text{:width => "137"}
                #user_account
                  = username_with_level(current_user)

            %tr
              %td.t_td_caption_1
                信用額度
              %td.t_td_text
                #total_credit
                  //= number_to_currency(current_user.total_credit, :format => "%n", :precision => 0 )
                  = number_with_delimiter(current_user.available_credit)
            %tr
              %td.t_td_caption_1
                可用金額
              %td.t_td_text
                #available_credit
                  //= number_to_currency(current_user.available_credit, :format => "%n", :precision => 0 )
                  = number_with_delimiter(current_user.available_credit)
        %br

        %table.t_list{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "210"}
          %tbody
            %tr
              %td.JZRCB
                %a{:href => "javascript:void(0);", :onclick => "window.open('http://www.egdfc.com/webvar/sohu/happy10.html','廣東快樂十分','width=687,height=464,directories=no,status=no,scrollbars=yes,resizable=yes,menubar=no,toolbar=no');", :style => "color:#FFFFFF;"} “廣東快樂十分”開獎网
            %tr
              %td.JZRCB
                %a{:href => "javascript:void(0);", :onclick => "window.open('http://video.shishicai.cn/Assist/Test.aspx?lt=4','重慶時時彩','width=488,height=183,directories=no,status=no,scrollbars=yes,resizable=yes,menubar=no,toolbar=no');", :style => "color:#FFFFFF;"} “重慶時時彩”開獎网