
#dialog-message(title="遊戲協議")
  %h1
    %strong 遊戲協議
  .p(style="font-size:16px")
    %ol
      %li
        爲避免出現爭議，請您務必在下注之後查看“下注狀況”。
      %li
        任何投訴必須在開獎之前，後台將不接受任何開獎之後的投訴。
      %li
        公布賠率時出現的任何打字錯誤或非故意人爲失誤，所有（相關）注單一律不算。
      %li
        公布之所有賠率爲浮動賠率，下注時請確認當前賠率及金額，下注確認後一律不能修改。
      %li
        開獎後接受的投注，一律視爲無效。
      %li
        若本後台發現客戶以不正當的手法投注或投注注單不正常，後台將有權“取消”相應之注單，客戶不得有任何異議。
      %li
        如因軟件或線路問題導致交易內容或其他與賬號設定不符合的情形，請在開獎前立即與本後台聯絡反映問題，否則本後台將以資料庫中的數據爲准。
      %li
        倘若發生遭黑客入侵破壞行爲或不可抗拒之災害致網站故障或資料損壞、數據丟失等情況，後台將以資料庫數據爲依據。
      %li
        各級管理人員及客戶必須對本系統各項功能進行了解及熟悉，任何違反正常使用的操作，後台概不負責。
      %li
        請認真了解遊戲規則。
