- content_for :page_inline_css do
  :css
    <!--
    .blue_words2 {
      font-size: 12px;
    }
    .white_words2 {
      font-size: 12px;
    }
    .words_color_blue_a {
      font-size: 14px;
    }
    .STYLE10 {color: #000000}
            ul
      {margin-bottom:0cm;}
     p.MsoNormal
      {margin-bottom:.0001pt;
      text-align:justify;
      text-justify:inter-ideograph;
      font-size:10.5pt;
      font-family:"Calibri","sans-serif";
              margin-left: 0cm;
                margin-right: 0cm;
                margin-top: 0cm;
            }
    -->



#rule_content(style="padding:20px;")
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
    %tbody
      %tr
        %td{:align => "left", :colspan => "2", :height => "29"}
          %strong.words_color_blue_a 重要聲明
        %td{:width => "1"}
      %tr
        %td{:width => "15"}
          \&nbsp;
        %td{:width => "700"}
          %ol{:style => "line-height: 5mm"}
            %li.blue_words2 如果客戶懷疑自己的資料被盜用，應立即通知本公司，並更改詳細資料，以前的使用者名稱及密碼將全部無效。
            %li.blue_words2 客戶有責任確保自己的帳戶及登入資料的保密性。以使用者名稱及密碼進行的任何網上投注將被視為有效。
            %li.blue_words2 公佈賠率時出現的任何打字錯誤或非故意人為失誤，本公司保留改正錯誤和按正確賠率結算投注的權力。您居住所在地的法律有可能規定網路博奕不合法；若此情況屬實，本公司將不會批准您使用付帳卡進行交易。
            %li.blue_words2 每次登入時客戶都應該核對自己的帳戶結餘額。如對餘額有任何疑問，請在第一時間內通知本公司。
            %li.blue_words2 一旦投注被接受，則不得取消或修改。
            %li.blue_words2 所有號碼賠率將不時浮動，派彩時的賠率將以確認投注時之賠率為準。
            %li.blue_words2 每注最高投注金額按不同[場次]及[投注項目]及[會員帳號]設定浮動。如投注金額超過上述設定，本公司有權取消超過之投注金額。
            %li.blue_words2 所有投注都必須在開獎前時間內進行否則投注無效。
            %li.blue_words2 所有投注派彩彩金皆含本金。
      %tr
        %td{:align => "left", :colspan => "2", :height => "29"}
          %strong.words_color_blue_a 台灣精彩十分規則說明
        %td
      %tr
        %td{:width => "15"}
          \&nbsp;
        %td
          %ul{:type => "disc"}
            %li.MsoNormal
              %span
                每期台灣精彩十分（
                //%a.F_bold.Font_R{:href => "#"}> 開獎網
                ）開獎球數共八粒。每粒球除了總和玩法，其它都有單獨的投注頁面。台灣精彩十分每天開
              %span{:lang => "EN-US"} 108
              %span 期，每期間隔
              %span{:lang => "EN-US"} 10
              %span 分鍾。投注時間爲
              %span{:lang => "EN-US"} 8
              %span 分鍾，等待開獎時間爲
              %span{:lang => "EN-US"} 2
              %span 分鍾，台北時間（
              %span{:lang => "EN-US"} GMT+8
              %span ）每天白天從上午
              %span{:lang => "EN-US"} 08
              %span ：
              %span{:lang => "EN-US"} 00
              %span 開到次日淩晨
              %span{:lang => "EN-US"} 02
              %span ：
              %span{:lang => "EN-US"} 00
              %span
                。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 兩面：
              %span
                指單、雙；大、小、尾大、尾小。
                %span{:lang => "EN-US"}
                  %o:p
          %ul{:type => "disc"}
            %li.MsoNormal
              %span{:lang => "EN-US"} &nbsp;
              %span 單、雙：號碼爲雙數叫雙，如
              %span{:lang => "EN-US"} 8
              %span 、
              %span{:lang => "EN-US"} 16
              %span ；號碼爲單數叫單，如
              %span{:lang => "EN-US"} 19
              %span 、
              %span{:lang => "EN-US"} 5
              %span
                。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %span{:lang => "EN-US"} &nbsp;
              %span 大、小：開出之號碼大于或等于
              %span{:lang => "EN-US"} 11
              %span 爲大，小于或等于
              %span{:lang => "EN-US"} 10
              %span
                爲小。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %span{:lang => "EN-US"} &nbsp;
              %span 尾大、尾小：開出之尾數大于或等于
              %span{:lang => "EN-US"} 5
              %span 爲尾大，小于或等于
              %span{:lang => "EN-US"} 4
              %span
                爲尾小。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %span{:lang => "EN-US"} &nbsp;
              %span
                每一個號碼爲一投注組合，假如投注號碼爲開獎號碼並在所投的球位置，視爲中獎，其余情形視爲不中獎。
                %span{:lang => "EN-US"}
                  %o:p
          %ul{:type => "disc"}
            %li.MsoNormal
              %b
                %span 中發白
              %span
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %span 中：開出之號碼爲
              %span{:lang => "EN-US"} 01
              %span 、
              %span{:lang => "EN-US"} 02
              %span 、
              %span{:lang => "EN-US"} 03
              %span 、
              %span{:lang => "EN-US"} 04
              %span 、
              %span{:lang => "EN-US"} 05
              %span 、
              %span{:lang => "EN-US"} 06
              %span 、
              %span{:lang => "EN-US"}
                07
                %o:p
            %li.MsoNormal
              %span 發：開出之號碼爲
              %span{:lang => "EN-US"} 08
              %span 、
              %span{:lang => "EN-US"} 09
              %span 、
              %span{:lang => "EN-US"} 10
              %span 、
              %span{:lang => "EN-US"} 11
              %span 、
              %span{:lang => "EN-US"} 12
              %span 、
              %span{:lang => "EN-US"} 13
              %span 、
              %span{:lang => "EN-US"}
                14
                %o:p
            %li.MsoNormal
              %span 白：開出之號碼爲
              %span{:lang => "EN-US"} 15
              %span 、
              %span{:lang => "EN-US"} 16
              %span 、
              %span{:lang => "EN-US"} 17
              %span 、
              %span{:lang => "EN-US"} 18
              %span 、
              %span{:lang => "EN-US"} 19
              %span 、
              %span{:lang => "EN-US"}
                20
                %o:p
          %ul{:type => "disc"}
            %li.MsoNormal
              %b
                %span 方位
              %span
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %span 東：開出之號碼爲
              %span{:lang => "EN-US"} 01
              %span 、
              %span{:lang => "EN-US"} 05
              %span 、
              %span{:lang => "EN-US"} 09
              %span 、
              %span{:lang => "EN-US"} 13
              %span 、
              %span{:lang => "EN-US"}
                17
                %o:p
            %li.MsoNormal
              %span 南：開出之號碼爲
              %span{:lang => "EN-US"} 02
              %span 、
              %span{:lang => "EN-US"} 06
              %span 、
              %span{:lang => "EN-US"} 10
              %span 、
              %span{:lang => "EN-US"} 14
              %span 、
              %span{:lang => "EN-US"}
                18
                %o:p
            %li.MsoNormal
              %span 西：開出之號碼爲
              %span{:lang => "EN-US"} 03
              %span 、
              %span{:lang => "EN-US"} 07
              %span 、
              %span{:lang => "EN-US"} 11
              %span 、
              %span{:lang => "EN-US"} 15
              %span 、
              %span{:lang => "EN-US"}
                19
                %o:p
            %li.MsoNormal
              %span 北：開出之號碼爲
              %span{:lang => "EN-US"} 04
              %span 、
              %span{:lang => "EN-US"} 08
              %span 、
              %span{:lang => "EN-US"} 12
              %span 、
              %span{:lang => "EN-US"} 16
              %span 、
              %span{:lang => "EN-US"}
                20
                %o:p
          %ul{:type => "disc"}
            %li.MsoNormal
              %b
                %span 總和單雙
              %span ：所有
              %span{:lang => "EN-US"} 8
              %span 個開獎號碼的數字總和值是單數爲總和單，如數字總和值是
              %span{:lang => "EN-US"} 31
              %span 、
              %span{:lang => "EN-US"} 51
              %span ；所有
              %span{:lang => "EN-US"} 8
              %span 個開獎號碼的數字總和值是雙數爲總和雙，如數字總和是
              %span{:lang => "EN-US"} 42
              %span 、
              %span{:lang => "EN-US"} 80
              %span
                ；假如投注組合符合中獎結果，視爲中獎，其余情形視爲不中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 總和大小
              %span ：所有
              %span{:lang => "EN-US"} 8
              %span 個開獎號碼的數字總和值
              %span{:lang => "EN-US"} 85
              %span 到
              %span{:lang => "EN-US"} 132
              %span 爲總大；所有
              %span{:lang => "EN-US"} 8
              %span 個開獎號碼的數字總和值
              %span{:lang => "EN-US"} 36
              %span 到
              %span{:lang => "EN-US"} 83
              %span 爲總分小；所有
              %span{:lang => "EN-US"} 8
              %span 個開獎號碼的數字總和值爲
              %span{:lang => "EN-US"} 84
              %span 打和；如開獎號碼爲
              %span{:lang => "EN-US"} 01
              %span 、
              %span{:lang => "EN-US"} 20
              %span 、
              %span{:lang => "EN-US"} 02
              %span 、
              %span{:lang => "EN-US"} 08
              %span 、
              %span{:lang => "EN-US"} 17
              %span 、
              %span{:lang => "EN-US"} 09
              %span 、
              %span{:lang => "EN-US"} 11
              %span ，數字總和是
              %span{:lang => "EN-US"} 68
              %span
                ，則總分小。假如投注組合符合中獎結果，視爲中獎，其余情形視爲不中獎，打和不計算結果。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 總尾大小
              %span ：所有
              %span{:lang => "EN-US"} 8
              %span 個開獎號碼的數字總和數值的個位數大于或等于
              %span{:lang => "EN-US"} 5
              %span 爲總尾大，小于或等于
              %span{:lang => "EN-US"} 4
              %span
                爲總尾小；假如投注組合符合中獎結果，視爲中獎，其余情形視爲不中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選二任選
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 2
              %span 個號碼對開獎號碼中任意
              %span{:lang => "EN-US"} 2
              %span 個位置的投注。 投注號碼與開獎號碼中任意
              %span{:lang => "EN-US"} 2
              %span
                個位置的號碼相符，即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選二連組
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 2
              %span 個號碼對開獎號碼中按開獎順序出現的
              %span{:lang => "EN-US"} 2
              %span 個連續位置的投注。 投注號碼與開獎號碼中按開獎順序出現的
              %span{:lang => "EN-US"} 2
              %span
                個連續位置的號碼相符（順序不限），即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選二連直
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 2
              %span 個號碼對開獎號碼中按開獎順序出現的
              %span{:lang => "EN-US"} 2
              %span 個連續位置按位相符的投注。 投注號碼與開獎號碼中按開獎順序出現的
              %span{:lang => "EN-US"} 2
              %span
                個連續位置的號碼按位相符，即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選三任選
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 3
              %span 個號碼對開獎號碼中任意
              %span{:lang => "EN-US"} 3
              %span 個位置的投注。 投注號碼與開獎號碼中任意
              %span{:lang => "EN-US"} 3
              %span
                個位置的號碼相符，即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選三前組
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 3
              %span 個號碼對開獎號碼中按開獎順序出現的前
              %span{:lang => "EN-US"} 3
              %span 個連續位置的投注。 投注號碼與開獎號碼中按開獎順序出現的前
              %span{:lang => "EN-US"} 3
              %span
                個位置的號碼相符（順序不限），即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選三前直
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 3
              %span 個號碼對開獎號碼中按開獎順序出現的前
              %span{:lang => "EN-US"} 3
              %span 個連續位置按位相符的投注。 投注號碼與開獎號碼中按開獎順序出現的前
              %span{:lang => "EN-US"} 3
              %span
                個位置的號碼按位相符，即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選四任選
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 4
              %span 個號碼，對開獎號碼中任意
              %span{:lang => "EN-US"} 4
              %span 個位置的投注。 投注號碼與開獎號碼中任意
              %span{:lang => "EN-US"} 4
              %span
                個位置的號碼相符，即中獎。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %b
                %span 選五任選
              %span ：指從
              %span{:lang => "EN-US"} 01
              %span 至
              %span{:lang => "EN-US"} 20
              %span 中任意選擇
              %span{:lang => "EN-US"} 5
              %span 個號碼，對開獎號碼中任意
              %span{:lang => "EN-US"} 5
              %span 個位置的投注。 投注號碼與開獎號碼中任意
              %span{:lang => "EN-US"} 5
              %span
                個位置的號碼相符，即中獎。
                %span{:lang => "EN-US"}
                  %o:p
          %p.MsoNormal{:align => "left", :style => "text-align:left;mso-pagination:widow-orphan"}
            %span{:lang => "EN-US"}
              ·
              %span &nbsp;
            %b
              %span 龍虎
            %span
              以第一球的中獎號碼和第八球的中獎號碼做爲對獎號碼。
              %span{:lang => "EN-US"}
                %o:p
          %ul{:type => "disc"}
            %li.MsoNormal
              %span 龍：開出之號碼第一球的中獎號碼大于第八球的中獎號碼。如 第一球開出
              %span{:lang => "EN-US"} 14
              %span 第八球開出
              %span{:lang => "EN-US"} 09
              %span ；第一球開出
              %span{:lang => "EN-US"} 17
              %span 第八球開出
              %span{:lang => "EN-US"} 08
              %span ；第一球開出
              %span{:lang => "EN-US"} 05
              %span 第八球開出
              %span{:lang => "EN-US"} 01...
              %span
                中獎爲龍。
                %span{:lang => "EN-US"}
                  %o:p
            %li.MsoNormal
              %span 虎：開出之號碼第一球的中獎號碼小于第八球的中獎號碼。如 第一球開出
              %span{:lang => "EN-US"} 14
              %span 第八球開出
              %span{:lang => "EN-US"} 16
              %span ；第一球開出
              %span{:lang => "EN-US"} 13
              %span 第八球開出
              %span{:lang => "EN-US"} 18
              %span ；第一球開出
              %span{:lang => "EN-US"} 05
              %span 第八球開出
              %span{:lang => "EN-US"} 08...
              %span
                中獎爲虎。
                %span{:lang => "EN-US"}
                  %o:p


%br/
%br/