!!! Frameset
%frameset{:border => "0", :cols => "*", :frameborder => "NO", :framespacing => "0", :rows => "89,*"}
  %frame{:name => "topFrame", :noresize => "", :scrolling => "no", :src => "TopMenu.aspx", :title => "topFrame"}
  %frameset{:border => "0", :cols => "245,*", :frameborder => "NO", :framespacing => "0"}
    %frame{:name => "leftFrame", :noresize => "", :src => "L_UserInfo.aspx?LT=1", :title => "leftFrame"}
    %frame{:name => "mainFrame", :src => "Main.htm", :title => "mainFrame"}/
