// Place all the styles related to the gaming controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 由开发人员工具生成。它可能不是原始源文件的准确表示形式。*/

BODY, DIV, SPAN, P, B, TEXTAREA, INPUT, SELECT, FORM, TABLE, TR, TD {
  Z-INDEX: auto;
  PADDING-BOTTOM: 0px;
  LIST-STYLE-TYPE: none;
  MARGIN: 0px;
  PADDING-LEFT: 0px;
  PADDING-RIGHT: 0px;
  FONT-FAMILY: Verdana, "宋体", Arial,Sans;
  FONT-SIZE: 12px;
  PADDING-TOP: 0px; }

BODY {
  MARGIN: 10px 0px 0px; }

IMG, TABLE {
  BORDER-BOTTOM: 0px;
  BORDER-LEFT: 0px;
  BORDER-COLLAPSE: collapse;
  BORDER-TOP: 0px;
  BORDER-RIGHT: 0px; }

TD {
  CURSOR: default; }

A {
  COLOR: #1a2e7b;
  TEXT-DECORATION: none;
  &:hover {
    COLOR: #ff0000;
    TEXT-DECORATION: underline; } }

.a1 {
  COLOR: #ff0000;
  TEXT-DECORATION: underline; }

.inp1, .inp1m, .btn2, .btn2m, .btn3, .btn3m {
  BACKGROUND-IMAGE: image-url("frame1.gif");
  BACKGROUND-REPEAT: no-repeat; }

.inp1, .inp1m {
  BORDER-BOTTOM: #abb2c5 1px solid;
  BORDER-LEFT: #abb2c5 1px solid;
  PADDING-LEFT: 2px;
  HEIGHT: 18px;
  COLOR: #000;
  BORDER-TOP: #abb2c5 1px solid;
  BORDER-RIGHT: #abb2c5 1px solid;
  PADDING-TOP: 1px; }

.inp1 {
  BACKGROUND-POSITION: 0px 0px;
  COLOR: black; }

.inp1m {
  BORDER-BOTTOM: #ff8800 1px solid;
  BORDER-LEFT: #ff8800 1px solid;
  BACKGROUND-POSITION: -476px 0px;
  COLOR: #000;
  BORDER-TOP: #ff8800 1px solid;
  BORDER-RIGHT: #ff8800 1px solid; }

.btn2, .btn2m {
  BORDER-BOTTOM: 0px;
  BORDER-LEFT: 0px;
  PADDING-BOTTOM: 2px !important;
  BACKGROUND-COLOR: transparent;
  WIDTH: 66px;
  BACKGROUND-POSITION: -943px 0px;
  MARGIN-BOTTOM: 0px;
  HEIGHT: 17px;
  COLOR: #0c3e09;
  BORDER-TOP: 0px;
  CURSOR: hand !important;
  BORDER-RIGHT: 0px;
  PADDING-TOP: 3px !important; }

.btn2 {
  WIDTH: 66px;
  BACKGROUND-POSITION: -943px 0px; }

.btn2m {
  WIDTH: 66px;
  BACKGROUND-POSITION: -1010px 0px;
  CURSOR: hand; }

.btn3, .btn3m {
  BORDER-BOTTOM: 0px;
  BORDER-LEFT: 0px;
  PADDING-BOTTOM: 2px !important;
  BACKGROUND-COLOR: transparent;
  WIDTH: 44px;
  MARGIN-BOTTOM: 0px;
  HEIGHT: 17px;
  COLOR: #0c3e09;
  BORDER-TOP: 0px;
  CURSOR: hand !important;
  BORDER-RIGHT: 0px;
  PADDING-TOP: 3px !important; }

.btn3 {
  WIDTH: 44px;
  BACKGROUND-POSITION: -1077px 0px; }

.btn3m {
  WIDTH: 44px;
  BACKGROUND-POSITION: -1122px 0px;
  CURSOR: hand; }

.Ball_List {
  BORDER-BOTTOM: #ffffff 0px solid;
  BORDER-LEFT: #ffffff 0px solid;
  BACKGROUND-COLOR: #b5d6e6;
  BORDER-TOP: #ffffff 0px solid;
  BORDER-RIGHT: white 0px solid; }

.Ball_tr_H {
  TEXT-ALIGN: center;
  LINE-HEIGHT: 16px;
  BACKGROUND-COLOR: #ffffff;
  HEIGHT: 27px; }

.Jut_caption_1 {
  BACKGROUND-COLOR: #ebf4ff; }

.td_caption_1 {
  BACKGROUND-IMAGE: image-url("bg.gif");
  TEXT-ALIGN: center;
  LINE-HEIGHT: 22px;
  VERTICAL-ALIGN: 10%; }

.td_caption_2 {
  BACKGROUND-IMAGE: image-url("bg2.gif");
  TEXT-ALIGN: center;
  LINE-HEIGHT: 22px;
  VERTICAL-ALIGN: 10%; }

.multiple_Red {
  FONT-FAMILY: Arial, Helvetica, Verdana, Geneva,  sans-serif;
  COLOR: #ff0000;
  FONT-SIZE: 12px;
  FONT-WEIGHT: bold; }

.Font_R {
  COLOR: red; }

.Font_B {
  COLOR: #2836f4; }

.Font_G {
  COLOR: #299a26; }

.F_bold {
  FONT-WEIGHT: bold; }

.SI_TD {
  BACKGROUND-IMAGE: image-url("S0.jpg");
  TEXT-ALIGN: center;
  LINE-HEIGHT: 17px;
  BACKGROUND-COLOR: #ffffff;
  HEIGHT: 20px; }

.t_list_tr_0 {
  TEXT-ALIGN: center;
  LINE-HEIGHT: 17px;
  BACKGROUND-COLOR: #ffffff;
  HEIGHT: 20px; }

.t_list_tr_1 {
  TEXT-ALIGN: center;
  LINE-HEIGHT: 17px;
  BACKGROUND-COLOR: #ebf4ff;
  HEIGHT: 20px; }

.t_list_tr_sum {
  TEXT-ALIGN: center;
  LINE-HEIGHT: 20px;
  BACKGROUND-COLOR: #eaeaea;
  FONT-WEIGHT: bold; }

.t_Edit_caption {
  TEXT-ALIGN: right;
  LINE-HEIGHT: 28px;
  BACKGROUND-COLOR: #ebf4ff;
  PADDING-LEFT: 5px; }

.t_Edit_td {
  TEXT-ALIGN: left;
  LINE-HEIGHT: 28px;
  BACKGROUND-COLOR: #ffffff;
  TEXT-INDENT: 3px;
  PADDING-LEFT: 5px; }

.t_list {
  BORDER-BOTTOM: #ffffff 0px solid;
  BORDER-LEFT: #ffffff 0px solid;
  BACKGROUND-COLOR: #b5d6e6;
  BORDER-TOP: #ffffff 0px solid;
  BORDER-RIGHT: white 0px solid; }

.t_list_caption {
  BACKGROUND-IMAGE: image-url("bg.gif");
  TEXT-ALIGN: center;
  LINE-HEIGHT: 22px;
  COLOR: black; }

.t_list_bottom {
  BACKGROUND-IMAGE: image-url("bg1.jpg");
  TEXT-ALIGN: center;
  LINE-HEIGHT: 22px;
  COLOR: black; }

.f_left {
  TEXT-ALIGN: left;
  TEXT-INDENT: 3px; }

.f_center {
  TEXT-ALIGN: center;
  TEXT-INDENT: 3px; }

.f_right {
  TEXT-ALIGN: right; }

.jeu_XZ_Type {
  COLOR: #2836f4; }

.jeu_multiple {
  COLOR: #ff0000;
  FONT-WEIGHT: bold; }

.jeu_OpenLottery {
  COLOR: #299a26; }

.TDb_R {
  BACKGROUND-COLOR: #ffe5e5;
  COLOR: red; }

.TDb_B {
  BACKGROUND-COLOR: #e7e7ff;
  COLOR: blue; }

.Check_NO {
  TEXT-ALIGN: center;
  BACKGROUND-COLOR: #ffffa2; }

/* 由开发人员工具生成。它可能不是原始源文件的准确表示形式。*/

.No_01, .No_02, .No_03, .No_04, .No_05, .No_06, .No_07, .No_08, .No_09, .No_10, .No_11, .No_12, .No_13, .No_14, .No_15, .No_16, .No_17, .No_18, .No_19, .No_20 {
  BACKGROUND-IMAGE: image-url("ball_1.gif");
  BACKGROUND-REPEAT: no-repeat;
  BACKGROUND-POSITION: center center; }

.No_01 {
  BACKGROUND-POSITION: 0px 0px; }

.No_02 {
  BACKGROUND-POSITION: 0px -27px; }

.No_03 {
  BACKGROUND-POSITION: 0px -54px; }

.No_04 {
  BACKGROUND-POSITION: 0px -81px; }

.No_05 {
  BACKGROUND-POSITION: 0px -108px; }

.No_06 {
  BACKGROUND-POSITION: 0px -135px; }

.No_07 {
  BACKGROUND-POSITION: 0px -162px; }

.No_08 {
  BACKGROUND-POSITION: 0px -189px; }

.No_09 {
  BACKGROUND-POSITION: 0px -216px; }

.No_10 {
  BACKGROUND-POSITION: 0px -243px; }

.No_11 {
  BACKGROUND-POSITION: 0px -270px; }

.No_12 {
  BACKGROUND-POSITION: 0px -297px; }

.No_13 {
  BACKGROUND-POSITION: 0px -324px; }

.No_14 {
  BACKGROUND-POSITION: 0px -351px; }

.No_15 {
  BACKGROUND-POSITION: 0px -378px; }

.No_16 {
  BACKGROUND-POSITION: 0px -405px; }

.No_17 {
  BACKGROUND-POSITION: 0px -432px; }

.No_18 {
  BACKGROUND-POSITION: 0px -459px; }

.No_19 {
  BACKGROUND-POSITION: 0px -486px; }

.No_20 {
  BACKGROUND-POSITION: 0px -513px; }

.visible {
  display: block;
}

.hidden {
  display: none;
}

.li_header {
  @extend .td_caption_1;
  //@extend cell_border_left;
  width: 80px;
  float: left;
  border-right: 1px solid #117EAA;
  color: DarkGreen;
}

.li_value {
  VERTICAL-ALIGN: 10%;
  text-align: left;
  width: 120px;
  float: left;
  padding-left: 4px;
  line-height: 22px;
}

.emphasize {
  font-weight: bold;
  color: red;
}