/* 由开发人员工具生成。它可能不是原始源文件的准确表示形式。*/

BODY, DIV, SPAN, P, B, TEXTAREA, INPUT, SELECT, FORM, TABLE, TR, TD {
  Z-INDEX: auto;
  PADDING-BOTTOM: 0px;
  LIST-STYLE-TYPE: none;
  MARGIN: 0px;
  PADDING-LEFT: 0px;
  PADDING-RIGHT: 0px;
  FONT-FAMILY: Verdana, "宋体", Arial,Sans;
  FONT-SIZE: 12px;
  PADDING-TOP: 0px; }

BODY {
  MARGIN: 0px; }

IMG, TABLE {
  BORDER-BOTTOM: 0px;
  BORDER-LEFT: 0px;
  BORDER-COLLAPSE: collapse;
  BORDER-TOP: 0px;
  BORDER-RIGHT: 0px; }

TD {
  CURSOR: default; }

A {
  COLOR: #164175;
  TEXT-DECORATION: none;
  &:hover {
    COLOR: #2473d4;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none; } }

.backdrop_1 {
  BACKGROUND-IMAGE: image_url("t_backdrop1.jpg");
  BACKGROUND-REPEAT: repeat-x; }

.NewS_Fone {
  COLOR: #ffffa2; }

.LeftBackdrop {
  TEXT-ALIGN: center;
  TEXT-INDENT: -30px;
  BACKGROUND-REPEAT: no-repeat;
  COLOR: #ffffff;
  FONT-WEIGHT: bold; }

.T2 {
  BACKGROUND-IMAGE: image-url("T2.jpg");
  BACKGROUND-REPEAT: no-repeat; }

.T3 {
  BACKGROUND-IMAGE: image-url("T3.jpg");
  BACKGROUND-REPEAT: no-repeat;
  COLOR: #ffffff;
  FONT-WEIGHT: bold; }

.top {
  BACKGROUND-IMAGE: image-url("m_top.jpg");
  BACKGROUND-REPEAT: repeat-x; }

.Menu_WB {
  BACKGROUND-IMAGE: image-url("menu_WB.jpg");
  BORDER-BOTTOM: #ff9224 0px solid;
  BORDER-LEFT: #ff9224 0px solid;
  BACKGROUND-COLOR: #ffffff;
  WIDTH: 99px;
  BACKGROUND-POSITION: 0px 0px;
  HEIGHT: 25px;
  BORDER-TOP: #ff9224 0px solid;
  BORDER-RIGHT: #ff9224 0px solid; }

.but_1, .but_1_m, .but_2, .but_2_m, .but_3, .but_3_m, .but_4, .but_4_m, .but_5, .but_5_m, .but_6, .but_6_m, .but_7, .but_7_m {
  BACKGROUND-IMAGE: image-url("But_S.jpg");
  BORDER-BOTTOM: #ff9224 0px solid;
  BORDER-LEFT: #ff9224 0px solid;
  BACKGROUND-COLOR: #b3c5ef;
  HEIGHT: 33px;
  BORDER-TOP: #ff9224 0px solid;
  BORDER-RIGHT: #ff9224 0px solid; }

.but_1 {
  WIDTH: 97px;
  BACKGROUND-POSITION: 0px 0px; }

.but_1_m {
  WIDTH: 97px;
  BACKGROUND-POSITION: -658px 0px;
  CURSOR: hand; }

.but_2 {
  WIDTH: 104px;
  BACKGROUND-POSITION: -97px 0px; }

.but_2_m {
  WIDTH: 104px;
  BACKGROUND-POSITION: -755px 0px;
  CURSOR: hand; }

.but_3 {
  WIDTH: 104px;
  BACKGROUND-POSITION: -201px 0px; }

.but_3_m {
  WIDTH: 104px;
  BACKGROUND-POSITION: -859px 0px;
  CURSOR: hand; }

.but_4 {
  WIDTH: 103px;
  BACKGROUND-POSITION: -305px 0px; }

.but_4_m {
  WIDTH: 103px;
  BACKGROUND-POSITION: -963px 0px;
  CURSOR: hand; }

.but_5 {
  WIDTH: 103px;
  BACKGROUND-POSITION: -408px 0px; }

.but_5_m {
  WIDTH: 103px;
  BACKGROUND-POSITION: -1066px 0px;
  CURSOR: hand; }

.but_6 {
  WIDTH: 80px;
  BACKGROUND-POSITION: -511px 0px; }

.but_6_m {
  WIDTH: 80px;
  BACKGROUND-POSITION: -1169px 0px;
  CURSOR: hand; }

.but_7 {
  WIDTH: 66px;
  BACKGROUND-POSITION: -591px 0px; }

.but_7_m {
  WIDTH: 66px;
  BACKGROUND-POSITION: -1249px 0px;
  CURSOR: hand; }

.Font_R {
  COLOR: red; }
