%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "700"}
  %tbody
    %tr
      %td.F_bold{:height => "24", :width => "50%"}
        廣東快樂十分鐘　　　
        %span{:style => "POSITION: relative; FILTER: blur(add=1, direction=45, strength=3); FONT-FAMILY: Arial; HEIGHT: 10px; COLOR: red; FONT-SIZE: 10pt"} 今天輸贏：
        %span#UserResult.font_r 0.0
      %td{:align => "right", :width => "50%"}
        %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
          %tbody
            %tr
              %td{:height => "23", :width => "140"}
                %span.bold_font 2012042411期開獎
              %td#BaLL_No1.No_03{:width => "25"} &nbsp;
              %td#BaLL_No2.No_04{:width => "25"} &nbsp;
              %td#BaLL_No3.No_18{:width => "25"} &nbsp;
              %td#BaLL_No4.No_14{:width => "25"} &nbsp;
              %td#BaLL_No5.No_07{:width => "25"} &nbsp;
              %td#BaLL_No6.No_06{:width => "25"} &nbsp;
              %td#BaLL_No7.No_13{:width => "25"} &nbsp;
              %td#BaLL_No8.No_20{:width => "25"} &nbsp;
