%table.Ball_List{:border => "0", :cellpadding => "0", :cellspacing => "1", :width => "175"}
  %tbody
    - rules.each do |rule|
      %tr.Ball_tr_H
        %td#jeu_n_16_283.Jut_caption_1{:width => "54"}
          = label_tag  rule.rule_name, rule.rule_title
        %td#jeu_p_16_283{:width => "59"}
          = label_tag  rule.rule_name, rule.odds , class: "multiple_Red", title: "按此下註"
        %td#jeu_m_16_283{:width => "62"}
          = text_field_tag rule.rule_name, nil, :maxlength => "9", :size => 6, :class => "inp1"
