%table{:border => "0", :cellpadding => "0", :cellspacing => "0", :height => "82", :width => "100%"}
  %tbody
    %tr
      %td{:background => "images/TopLogo_72.jpg", :rowspan => "3", :valign => "top"}
        %table{:border => "0", :width => "100%"}
          %tbody
            %tr
              %td{:valign => "top"}
                %img{:height => "1", :src => "images/Top_b.gif", :width => "243"}/
                %br/
                %script{:language => "javascript"}
                  Make_FlashPlay('images/lx.swf','top_c','243','80');
                %object#top_c{:classid => "clsid:d27cdb6e-ae6d-11cf-96b8-444553540000", :codebase => "http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,22,0", :height => "80", :width => "243"}
                  %param{:name => "_cx", :value => "6429"}/
                  %param{:name => "_cy", :value => "2116"}/
                  %param{:name => "FlashVars", :value => "pageID=0"}/
                  %param{:name => "Movie", :value => "images/lx.swf"}/
                  %param{:name => "Src", :value => "images/lx.swf"}/
                  %param{:name => "WMode", :value => "Transparent"}/
                  %param{:name => "Play", :value => "-1"}/
                  %param{:name => "Loop", :value => "-1"}/
                  %param{:name => "Quality", :value => "High"}/
                  %param{:name => "SAlign", :value => ""}/
                  %param{:name => "Menu", :value => "0"}/
                  %param{:name => "Base", :value => ""}/
                  %param{:name => "AllowScriptAccess", :value => ""}/
                  %param{:name => "Scale", :value => "ShowAll"}/
                  %param{:name => "DeviceFont", :value => "0"}/
                  %param{:name => "EmbedMovie", :value => "0"}/
                  %param{:name => "BGColor", :value => ""}/
                  %param{:name => "SWRemote", :value => ""}/
                  %param{:name => "MovieData", :value => ""}/
                  %param{:name => "SeamlessTabbing", :value => "1"}/
                  %param{:name => "Profile", :value => "0"}/
                  %param{:name => "ProfileAddress", :value => ""}/
                  %param{:name => "ProfilePort", :value => "0"}/
                  %param{:name => "AllowNetworking", :value => "all"}/
                  %param{:name => "AllowFullScreen", :value => "false"}/
                  %embed{:height => "80", :name => "top_c", :pluginspage => "http://www.macromedia.com/shockwave/download/index.cgi?p1_prod_version=shockwaveflash", :quality => "high", :src => "images/lx.swf", :type => "application/x-shockwave-flash", :width => "243", :wmode => "transparent"}
      %td{:height => "33", :valign => "top", :width => "100%"}
        %input.but_1{:name => "but_1", :onclick => "MF_URL('CreditInfo.aspx')", :onmouseout => "this.className='but_1'", :onmouseover => "this.className='but_1_m'", :type => "button"}/
        %input.but_2{:name => "but_2", :onclick => "MF_URL('AmendPwd.aspx')", :onmouseout => "this.className='but_2'", :onmouseover => "this.className='but_2_m'", :type => "button"}/
        %input.but_3{:name => "but_3", :onclick => "MF_URL('Report_JeuWJS.aspx?LT='+s_LT)", :onmouseout => "this.className='but_3'", :onmouseover => "this.className='but_3_m'", :type => "button"}/
        %input.but_4{:name => "but_4", :onclick => "MF_URL('Report_JeuWeek.aspx?LT='+s_LT)", :onmouseout => "this.className='but_4'", :onmouseover => "this.className='but_4_m'", :type => "button"}/
        %input.but_5{:name => "but_5", :onclick => "MF_URL('result.aspx?LT='+s_LT)", :onmouseout => "this.className='but_5'", :onmouseover => "this.className='but_5_m'", :type => "button"}/
        %input.but_6{:name => "but_6", :onclick => "MF_URL('rule.aspx')", :onmouseout => "this.className='but_6'", :onmouseover => "this.className='but_6_m'", :type => "button"}/
        %input.but_7{:name => "but_7", :onclick => "MF_URL('quit.aspx')", :onmouseout => "this.className='but_7'", :onmouseover => "this.className='but_7_m'", :type => "button"}/
    %tr
      %td.T2{:height => "24", :valign => "top"}
        %marquee{:onmouseout => "this.start()", :onmouseover => "this.stop()", :scrollamount => "4", :scrolldelay => "100"}
          %font#Affiche.NewS_Fone{:style => "POSITION: relative; TOP: 7px"} 通知：因重慶時時彩官方20120509018期停止銷售，所有注單一律注銷，如有不便，敬請諒解
    %tr
      %td#TypeBackdrop.T3{:height => "25", :valign => "top"}
        %span#Type_List{:style => "POSITION: relative; TOP: 5px; LEFT: 13px"}
          %a#MC16{:href => "javascript:void(0)", :onclick => "MF_CI(16)"}> 兩面盤
          \&nbsp;|&nbsp;
          %a#MC1{:href => "javascript:void(0)", :onclick => "MF_CI(1)"}> 第一球
          \&nbsp;|&nbsp;
          %a#MC2{:href => "javascript:void(0)", :onclick => "MF_CI(2)"}> 第二球
          \&nbsp;|&nbsp;
          %a#MC3{:href => "javascript:void(0)", :onclick => "MF_CI(3)"}> 第三球
          \&nbsp;|&nbsp;
          %a#MC4{:href => "javascript:void(0)", :onclick => "MF_CI(4)"}> 第四球
          \&nbsp;|&nbsp;
          %a#MC5{:href => "javascript:void(0)", :onclick => "MF_CI(5)"}> 第五球
          \&nbsp;|&nbsp;
          %a#MC6{:href => "javascript:void(0)", :onclick => "MF_CI(6)"}> 第六球
          \&nbsp;|&nbsp;
          %a#MC7{:href => "javascript:void(0)", :onclick => "MF_CI(7)"}> 第七球
          \&nbsp;|&nbsp;
          %a#MC8{:href => "javascript:void(0)", :onclick => "MF_CI(8)"}> 第八球
          \&nbsp;|&nbsp;
          %a#MC9{:href => "javascript:void(0)", :onclick => "MF_CI(9)"}> 總和、龍虎
          \&nbsp;|&nbsp;
          %a#MC10{:href => "javascript:void(0)", :onclick => "MF_CI(10)"} 連碼
#LT_DIV{:style => "POSITION: absolute; TOP: 36px; LEFT: 258px"}
  %select{:name => "LT", :onchange => "SelectType(document.getElementById('LT').value);", :style => "COLOR: #ff0000; FONT-WEIGHT: bold"}
    %option{:selected => "", :value => "1"} 廣東快樂十分
    %option{:value => "2"} 重慶時時彩
:javascript
  XmlLoad();
  SelectType(1);
  UserName="b666（A盘）";
  
  document.getElementById("LT_DIV").style.top = 36;
  document.getElementById("LT_DIV").style.left = 258;
%img{:height => "0", :src => "T1.swf", :width => "0"}/
%img{:height => "0", :src => "T2.swf", :width => "0"}/
%img{:height => "0", :src => "RF.swf", :width => "0"}/
%img{:height => "0", :src => "SB.swf", :width => "0"}/
%script{:language => "JavaScript", :src => "http://hh1.8862.25u.com:8808/"}